.signup-page-main .form-container {
  margin: 1rem auto;
  max-width: 800px;
  min-width: 320px;
  border-radius: 5px;
  padding: 3rem;
  border: 1px solid var(--primary-color);
  background: rgb(166, 64, 39);
  background: linear-gradient(
    165deg,
    rgba(166, 64, 39, 0.08451684091605393) 24%,
    rgba(58, 139, 94, 0.0821078773306197) 76%
  );
}

.signup-page-main h2 {
  text-align: center;
  margin: 3rem 0;
  color: var(--primary-color);
}

.signup-page-main .react-datepicker__input-container input {
  padding-left: 0.5rem;
}

.dataInfo {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
