* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary-color: #ff5d26;
}

.btn {
  background-color: #ff5d26;
  border: #ff5d26;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: #d1613c;
  border-color: #ac552d;
  box-shadow: 0 0 0 0.1rem #ca8e71;
}
